{% extends "src/base.njk" %}

{% set title = "404 | Pavel Pomerantsev" %}

{% block content %}
  <h1 class="visually-hidden">Pavel Pomerantsev</h1>
  <p>Oops, page not found.</p>
  <p><a href="/">Return to homepage</a></p>
{% endblock %}
